<div id="transactionHistory">
    <div class="posts">
        <h3>Posts</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="row" class="w-25">Date</th>
                    <th scope="row" class="w-25 text-right">Payout values</th>
                    <th scope="row" class="w-25">Image</th>
                    <th scope="row" class="w-50">Title</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: { data: Posts, as: 'post' }">
                <tr data-bind="attr: { class: post.PaidOut() > 0 ? 'table-secondary' : 'table-light' }">
                    <td>
                        <span data-bind="html: post.createDate()"></span><br />
                        <span class="small" data-bind="html: post.createDateDiff()"></span>
                    </td>
                    <td>
                        <div class="row" data-bind="visible: post.PendingPayout() > 0">
                            <div class="col-sm-8 text-right">Pending:</div>
                            <div class="col-sm-4 text-right"><span data-bind="html: post.pendingPayoutComputed()"></span></div>
                        </div>
                        <div class="row" data-bind="visible: post.PaidOut() > 0">
                            <div class="col-sm-8 text-right">Paid out author:</div>
                            <div class="col-sm-4 text-right"><span data-bind="html: post.authorPayoutComputed()"></span></div>
                        </div>
                        <div class="row" data-bind="visible: post.PaidOutTotal() > 0">
                            <div class="col-sm-8 text-right">Paid out total:</div>
                            <div class="col-sm-4 text-right"><span data-bind="html: post.totalPayoutComputed()"></span></div>
                        </div>                        
                        <!-- ko if: post.IsResteem() -->
                        <div class="float-right">
                            <i class="fas fa-redo"></i><span> resteemed</span>
                        </div>
                        <!-- /ko -->
                    </td>
                    <td>
                        <a data-bind="attr: { href: post.postLinkComputed() }" target="_blank">
                            <div class="w-100">
                                <img data-bind="attr: { src: post.MainImage() }" class="rounded img-thumbnail" />
                            </div>
                        </a>
                    </td>
                    <td>
                        <a data-bind="attr: { href: post.postLinkComputed() }" target="_blank">
                            <span data-bind="text: post.Title"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="comments">
        <h3>Comments</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="row" class="w-25">Date</th>
                    <th scope="row" class="w-25">Commented to</th>
                    <th scope="row" class="w-50">Title</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: { data: Comments, as: 'comment' }">
                <tr>
                    <td><span data-bind="text: comment.createDate()"></span></td>
                    <td><span data-bind="text: comment.Details.parent_author()"></span></td>
                    <td>
                        <a data-bind="attr: { href: comment.commentLinkComputed() }" target="_blank">
                            <span data-bind="text: comment.Details.permlink()"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="votes">
        <h3>Votes</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="row" class="w-25">Date</th>
                    <th scope="row" class="w-25">Voted to</th>
                    <th scope="row" class="w-50">Weight / Link</th>                    
                </tr>
            </thead>
            <tbody data-bind="foreach: { data: Votes, as: 'vote' }">
                <tr>
                    <td><span data-bind="text: vote.createDate()"></span></td>
                    <td><span data-bind="text: vote.Details.author()"></span></td>                    
                    <td>
                        <span data-bind="text: '('+vote.voteComputed()+') '"></span>
                        <a data-bind="attr: { href: vote.voteLinkComputed() }" target="_blank">
                            <span data-bind="text: vote.Details.permlink()"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
