@{
    ViewBag.Title = "";
}

@model CurationAssistant.Models.HomeViewModel

<br />

@using (Html.BeginForm("ValidatePost", "Home", FormMethod.Post, new { @class = "validateForm", id = "validateForm" }))
{
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-lg">
                <h4>Provide the link of the post you wish to validate</h4>
            </div><!-- /input-group -->
        </div><!-- /.col-xs-12 -->
    </div><!-- /.row -->

    <div class="row">
        <div class="col-sm-12">
            <div class="input-group input-group-lg">
                <input type="hidden" id="initialized" name="initialized" />
                <input class="form-control" id="postLink" name="postLink" type="text" />
            </div><!-- /input-group -->
        </div><!-- /.col-xs-12 -->
    </div><!-- /.row -->
    <br />
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button title="Validate" type="submit" class="btn btn-info btn-lg" id="validatePost">Validate post</button>
            </div>
        </div>
    </div>

    <br />

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button">
                        <i class="fas fa-feather-alt"></i>&nbsp;&nbsp;Author details
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    @Html.Partial("_AuthorDetails")
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                        <i class="fas fa-history"></i>&nbsp;&nbsp;Author transaction history
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    @Html.Partial("_AuthorHistory")
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                        <i class="fas fa-file-alt"></i>&nbsp;&nbsp;Post details
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    @Html.Partial("_PostDetails")
                </div>
            </div>
        </div>
    </div>

}

@section scripts {
    <script type="text/javascript" src="~/Scripts/Custom/curation.js"></script>
}