@{
    ViewBag.Title = "";
}

@model CurationAssistant.Models.HomeViewModel

<br />

    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button">
                        <i class="fas fa-feather-alt"></i>&nbsp;&nbsp;Author details
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    @Html.Partial("_AuthorDetails")
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                        <i class="fas fa-history"></i>&nbsp;&nbsp;Author transaction history
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    @Html.Partial("_AuthorHistory")
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button">
                        <i class="fas fa-file-alt"></i>&nbsp;&nbsp;Post details
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    @Html.Partial("_PostDetails")
                </div>
            </div>
        </div>
    </div>

